.grid-container {
    display: grid;
    /* grid-template-columns: 20% 70% 5%; */
    grid-template-columns: 20% 70%;
    grid-gap: 10px;

    border: 2px solid black;
    margin: 50px;
    padding: 30px 30px 30px 30px;
}

.sub-grid {
    display: grid;
}

.sub-grid > div {
    font-size: calc(5px + 1vmin);
    height: 5vh;
}

.header {
    height: 2vh;
    text-decoration: underline;
}
/* 
.needMargin {
    margin-bottom: 10px;
} */

#submitButton {
    margin: -40px 0px 30px 50px;
}
