.UserDetails {
  height: 90vh;
  font-family: 'Roboto';

}

.udtc {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 4.2vw;
    width: 100%;
}

.UD-holder {
    display: flex;

  align-items: center;
  justify-content: center;
}

.UD-header {
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 5vmin);
    text-align: center;

}

.UD-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.UD-form {
  display: flex;
  flex-direction: column;
  width: calc(500px + 5vmin);
  justify-content: center;
  align-items: center;

}

.UD-form {
  display: flex;
  flex-direction: column;
  width: calc(500px + 20vmin);
  justify-content: center;
  align-items: center;

}

.UD-box{
  width: 100%;
  padding: 12px 12px;
  margin: 8px 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.UD-input{
  display: flex;
  width: 100%;
  
}